/* header */
.grid_header {
	color: #555;
	margin-bottom: 5px;
}
/* content */
.grid_content {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #c0c0c0;
}
.grid_content th {
	font-size: 12px;
	background-color: #ddd;
	color: #555;
	padding-left: 2px;
	border: 1px solid #c0c0c0;
	border-top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.grid_content th img {
	vertical-align: bottom;
}
.grid_content tr {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
}
.grid_content tr.odd {
	background-color: #fafafa;
}
.grid_content tr.even {
	background-color: white;
}
.grid_content tr:hover {
	background-color: #e8e8e8;
}
.grid_content td {
	font-size: 12px;
	overflow: hidden;
	border: 1px solid #c0c0c0;
	padding: 3px;
	padding-right: 8px;
	margin: 0;
}
/* footer */
.grid_footer {
	font-size: 12px;
	background-color: #ddd;
	color: #555;
	height: 20px;
	border: 1px solid #c0c0c0;
	border-top: 0;
	padding: 4px;
	margin: 0;
}
.grid_footer_actions {
	float: left;
}
.grid_footer_actions input {
	font-size: 11px;
	color: #333;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #999;
}
.grid_footer_actions .button {
	color: #484848;
	font-size: 12px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #F7F7F7;
	background-image: -moz-linear-gradient(top, #F7F7F7, #D1D1D1);
	background-image: -webkit-linear-gradient(top, #F7F7F7, #D1D1D1);
	border: 1px solid #7F7F7F;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 1px 9px;
	cursor: pointer;
}
.grid_footer_actions .button:hover {
	background-color: #ddd;
	background-image: -moz-linear-gradient(top, #ddd, #D1D1D1);
	background-image: -webkit-linear-gradient(top, #ddd, #D1D1D1);
}
.grid_footer_actions img {
	vertical-align: middle;
	padding: 0 1px;
	margin-bottom: 1px;
	margin-right: 10px;
}
.grid_footer_controls {
	background-color: #F7F7F7;
	background-image: -moz-linear-gradient(top, #F7F7F7, #D1D1D1);
	background-image: -webkit-linear-gradient(top, #F7F7F7, #D1D1D1);
	border: 1px solid #7F7F7F;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	float: right;
}
.grid_footer_controls a {
	float: left;
	border-right: 1px solid #7F7F7F;
	height: 18px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.grid_footer_controls a:hover {
	background-color: #ddd;
	background-image: -moz-linear-gradient(top, #ddd, #D1D1D1);
	background-image: -webkit-linear-gradient(top, #ddd, #D1D1D1);
}
.grid_footer_controls a.control_first {
	background-image: url(resultset_first.png);
}
.grid_footer_controls a.control_previous {
	background-image: url(resultset_previous.png);
}
.grid_footer_controls a.control_next {
	background-image: url(resultset_next.png);
}
.grid_footer_controls a.control_last {
	background-image: url(resultset_last.png);
	border: 0;
}
.grid_footer_info {
	margin-top: 2px;
	float: right;
}