[Unit]
Description=webwatcher
After=network.target

[Service]
Type=notify
#the user that the service will run as
User=www-data
Group=www-data
WorkingDirectory=/opt/webwatcher/
ExecStart=/usr/local/bin/gunicorn 'main:app'
SyslogIdentifier=webwatcher
TimeoutStopSec=5
PrivateTmp=true
#restart service if the app crashes
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
