body {
	font-family: Verdana;
	font-size: 12px;
}
label > span {
	float: left;
	width: 100px;
}
input {
	width: 180px;
}
#websites .na {
	background-color: #D9EDF7;
}
#websites .ok {
	background-color: #DFF0D8;
}
#websites .nok {
	background-color: #F2DEDE;
}